 * {
    display: flex;
}
     
.healthBar {
        background-color: black;
}

.text {
    color: white
}

.playerHealthBar {
    display: inline-flex;
    width: 4rem;
    height: 3rem;
    margin: 5rem;
    background-color: green;
    align-content: space-around;
}

.monsterHealthBar {
    display: inline-flex;
    width: 4rem;
    height: 3rem;
    margin: 5rem;
    background-color: purple;
}

